body 
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 30px;
    background: #000000;
    font-family: consolas;
}

.wrapper input {
    display:none;
}
.wrapper {
  margin:20px auto;

}
a
{
    text-align: center;
    width: 250px;
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #1fe2b1;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    
}
.a-border {
    color: #ffffff;
    border: 1px solid #000000;
    background: transparent;
}
a:hover 
{
    color: 	#00FFFF;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #0dffff, 0 0 80px #2196f3;
    transition-delay: 1s;
}
a span
{
    position: absolute;
    display: block;
}
a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#00fff2);
}
a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
} 
a span:nth-child(2)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#00f7ff);
}
a:hover span:nth-child(2)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
a span:nth-child(3)
{
    top: -100℅;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#00e9fa);
}
a:hover span:nth-child(3)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4)
{
    bottom: -100℅;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#00e1ff);
}
a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


