@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 600";

.example::-webkit-scrollbar {
	display: none;
  }
 

*{
	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
body
	{
		font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
		overflow-y: scroll;
    overflow-x: hidden;
	background: #1a1b1e;
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;

}


.pixel
{
	margin-left: 10px;
	margin-bottom: 10px;
}
h2,
h3,




.logo {
  
	margin: 5px;
	font-size: 1.45em;
}

.main-nav {
    background:black;
	margin-top: 5px;
 animation: border-flicker  infinite;
}
.logo a,
.main-nav a {
	font-family: Verdana, Geneva, sans-serif;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    
}

.main-nav a {
  margin-bottom:5px 8px;
  margin:8px;
	color: #ff0dc2;
	font-size: .99em;
   border-radius: 8px;
  border: 1px solid rgb(10, 173, 223);
   box-shadow: 0 0 2px cyan;
  cursor: pointer;
   animation: border-flicker text-flicker infinite;
}
div{
  animation:  border-flicker text-flicker  5s linear infinite;
}

main-nav a {
  font-family: "Open Sans";
  font-weight: 300;
  font-size:2.9em;
  margin: 15px 0 0;
  color: rgba(120, 0, 50, .5);
  animation:  border-flicker infinite;
}

 a {
  animation: text-flicker 2s linear infinite;
}

 



.header {
  
	padding-top: .5em;
	padding-bottom: .5em;
	
	
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	
	
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 40%;
		margin: 10px;
		max-width: 50px;
	}
	}

}
@media (min-width: 480px)
{
	.main-nav
	{
		
	}
}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: black; 
}

h2 {
	
	
   display: flex;
   justify-content: center;
	align-items: center;
	font-weight: 500;
	color: black;
  }

  p{

	padding: 20px;
	display: flex;
   justify-content: center;
	align-items: center;
	font-weight: 500;
	color: blue;
  }




h3:hover
{
	color: rgb(43, 226, 202);
}
  


.ribbon {
	font-size: 22px !important;
   box-shadow: 5px black;
   font-weight: 500;
	width: 200px;
	
	position: relative;
	background:  rgb(197, 197, 197);
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 1em 2em; 
	margin: 2em auto 3em;
   }
   .ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid  rgb(48, 47, 47);
	z-index: -1;
   }
   .ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
   }
   .ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
   }
   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #292628 transparent transparent transparent;
	bottom: -1em;
   }
   .ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
   }
   .ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
   }


body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	
  }
  
  .card {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	background-color: #000000;
	border: 0px;
	transition: all 0.3s ease-in-out;
  }
  
  .card .card-img {
	height: auto;
	width: 100%;
	background-color: #4426a8;
	position: relative;
	background-size: cover;
	background-position: center top;
  }
  
  .card:hover {
	transform: scale(1.01);
	transition: all 0.5s ease-in-out;
  }
  
  .card .card-content span {
	margin-bottom: 0.5rem;
	position: relative;
	display: block;
  }
  
  .card svg {
	position: absolute;
	top: 0;
  }
  
  .card .card-content {
	width: 100%;
	overflow-x: hidden;
	padding: 10px 20px 30px 20px;
	position: relative;
	overflow-y: hidden;
  }
  
  .card .card-content .bttn {
	display: inline-block;
	padding: 7px 8px;
	text-align: center;
	border-radius: 3px;
	background-color: #bebebe;
	text-decoration: none;
	color: #fff;
	transition: 300ms all;
  }
  html, body, section {
	height: 100%;
  }
  
  

  h1 {
	font-size: 1.75rem;
	margin: 0 0 0.75rem 0;
  }
  
  .card-content
  {
	  background-color: rgb(230, 228, 228);
  }
  .container2 {
	display: flex;
  }
  
  .left-half {
	  height: 700px;
	color: #fff;
	background-color:black;
	flex: 1;
	padding: 1rem;
  }
  
  .right-half {
	height: 700px;
	background-color:white;
	flex: 1;
	padding: 1rem;
  }
  .ldBar {
	position: relative;
  }
  .ldBar.label-center > .ldBar-label {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-shadow: 0 0 3px #fff;
  }
  .ldBar-label:after {
	content: "%";
	display: inline;
  }
  .ldBar.no-percent .ldBar-label:after {
	content: "";
  }
  


  
  #success-message {
	opacity: 0;
  }
  
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
	padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
	margin-top: 25px;
  }
  
  .form-title {
	  background: none;
	padding: 25px;
	font-size: 30px;
	font-weight: 300;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-group .form-control {
	-webkit-box-shadow: none;
	border-bottom: 1px;
	border-style: none none solid none;
	border-radius:0; 
	border-color: #000;
  }
  
  .form-group .form-control:focus {
	  box-shadow: none;
	border-width: 0 0 2px 0;
	border-color: #000;
	
  }
  
  textarea {
	resize: none;
  }
  
  .btn-mod.btn-large {
	  height: auto;
	  padding: 13px 52px;
	  font-size: 15px;
  }
  
  .btn-mod.btn-border {
	  color: #000000;
	  border: 1px solid #000000;
	  background: transparent;
  }
  
  .btn-mod, a.btn-mod {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  padding: 4px 13px;
	  color: #fff;
	  background: rgba(34,34,34, .9);
	  border: 1px solid transparent;
	  font-size: 11px;
	  font-weight: 400;
	  text-transform: uppercase;
	  text-decoration: none;
	  letter-spacing: 2px;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
	  color: #fff;
	  border-color: #000;
	  background: #000;
	  outline: none;
  }
  
  @media only screen and (max-width: 500px) {
	  .btn-mod.btn-large {
		 padding: 6px 16px;
		 font-size: 11px;
	  }
	
	  .form-title {
		  font-size: 20px;
	}
  }
  


	
	  
  .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background: #000000;
    top: 0;
    left: 0;
}

.loader {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    transform: translateY(-43%);
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
.box {
    width: 100%;
    height: 100%;
    background: rgb(0, 255, 242);
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
.shadow { 
    width: 100%;
    height: 5px;
    background: rgb(0, 0, 0);
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
    }


@keyframes loader {
    0% {
        left: -100px
    }
    100% {
        left: 110%;
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    50% {
        transform: scale(1.2,1);
    }
}


header {
	
	position: relative;
	background-color: rgb(18, 228, 217);
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
.container p{
text-decoration: none;
	color: rgb(210, 214, 214);
	font-size: 30px;
	text-decoration: overline underline;
}

  header video {
	      

	  letter-spacing: 0.5px;
	  background: #111;
	  color: #fff;
	  box-shadow: .3em 0 0 #111, -.3em 0 0 #111;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url('https://youtu.be/-rchCEtFSOQ') black no-repeat center center scroll;
	}
	header video {
	  display:;
	}
  }

.mail
{
	border: 1px solid rgb(252, 227, 10) ;
	border-radius: 4px;
	color: rgb(245, 245, 245);
	margin-bottom: 30px;
	background-color: rgb(0, 0, 0);
	padding: 10px;
}
.mail:hover
{
	color: rgb(199, 211, 29);
	background-color: rgb(252, 252, 252);

}

  
 .card-img-top
  {
	  height: 200px;
	  width: 200;
	padding-top:10px;
	margin:5px;
	display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .card-title
{
  font-size: 16px;
  display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 7	00;

}
#card-deck
{
	background: black;
    border-radius: 50px;
	margin-left: 160px;
}

.wew
{
	color: #000;
	background: -webkit-linear-gradient(transparent, transparent), url('http://studioleopard.pl/wp-content/uploads/2016/04/wyklikaj_strone.jpg');
	background: -o-linear-gradient(transparent, transparent);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 40px;
	text-align: center;
}

.h1
{
	font-size: 24px;
	padding: 20px;
	display: flex;
   justify-content: center;
	align-items: center;
	font-weight: 900;
	color: rgb(0, 0, 0);
}


  .container5{
	  background-color: black;
	font-family: 'Archivo', sans-serif;
	box-shadow: 5px 10px solid #0000;
	user-select: none;
	margin:10px auto;
	background-image: url("card design1.jpg");
	color: #000000;
	
	border-radius: 8px;
	width: 350px;
	text-align: center;
	box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
  }
  .cover-photo{

	height: 180px;
	width: 100%;
	border-radius: 5px 5px 0 0;
  }


 .display-5
 {
	height: 500px;
	font-family: Arial, Helvetica, sans-serif;
	 text-decoration: underline;
	color: #000;
	background: -webkit-linear-gradient(transparent, transparent), url('http://studioleopard.pl/wp-content/uploads/2016/04/wyklikaj_strone.jpg');
	background: -o-linear-gradient(transparent, transparent);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 35px;
	text-align: center;
 }

 
  .profile-name{


  }
  .about{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	margin-right: 17px;
  font-size: 15px;
	color: rgba(182, 159, 84, 0);
	margin-bottom: 53px;
	line-height: 21px;
  }
  button{
	margin: 10px 0 40px 0;
  }
  .msg-btn, .follow-btn{
	background: #03bfbc;
	border: 1px solid #03bfbc;
	padding: 10px 25px;
	color: #231e39;
	border-radius: 3px;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
  }
  .follow-btn{
	margin-left: 10px;
	background: transparent;
	color: #02899c;
  }
  .follow-btn:hover{
	color: #231e39;
	background: #03bfbc;
	transition: .5s;
  }



  h1{ text-align: center; }
 {
	background: rgba(255,0,0,.25);
	border: 0.5px solid red;
	padding: 2em;
 }

 #loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #00ff9d;
	
	  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	z-index:1001;	  
}

    #loader:before {
		content:"";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #00eeff;
		
		  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	    #loader:after {
		content:"";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #05b8ff;
		
	   -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
               animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
	
	    @-webkit-keyframes spin { 
           0%   { 
           -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(0deg);  /* IE 9 */
           transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
		    }

            100% { 
           -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(360deg);  /* IE 9 */
           transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */

	       }
        }

        @keyframes spin {
           0%   { 
           -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(0deg);  /* IE 9 */
           transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */

		   }

           100% { 
           -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(360deg);  /* IE 9 */
           transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */

		   }
		}
	
	    #loader-wrapper .loader-section {
		    position:fixed;
			top: 0;
			width: 51%;
			height: 100%;
			background: black;
			z-index: 1000;
			
		}
		
		#loader-wrapper .loader-section.section-left {
			left:0;
		}
		
		#loader-wrapper .loader-section.section-right {
			right:0;
		}
		
		/* Loaded Styles */
		.loaded #loader-wrapper .loader-section.section-left {
           -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+  */
               -ms-transform: translateX(-100%);  /* IE 9 */
                   transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */			   
		}
		
		.loaded #loader-wrapper .loader-section.section-right {
           -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+  */
               -ms-transform: translateX(100%);  /* IE 9 */
                   transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */	

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */			   
		}		
		.loaded #loader {
			opacity: 0;
			
            -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */			
		}
		.loaded #loader-wrapper {
			visibility: hidden;
           -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+  */
               -ms-transform: translateY(-100%);  /* IE 9 */
                   transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */			
			
            -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */				
		}







		  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

		  @media (min-width: 500px) {
			.col-sm-6 {
			  width: 50%;
			}
		  }
		  html, body {
			height: 100%;
			min-height: 18em;
		  }
		  
		  .frontend-side {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-code.png");
		  }
		  
		  .uiux-side {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-post-its.png");
			position: relative;
		  }
		  
		  .split-pane {
			padding-top: 1em;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 50px;
			width: 100%;
			min-height: 9em;
			font-size: 4em;
			color: white;
			font-family: 'Open Sans', sans-serif;
			  font-weight:300;
		 
		  }
		  @media(min-width: 500px) {
			.split-pane {
			  padding-top: 2em;
			  height: 100%;
			}
		  }
		  .split-pane > div {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			text-align: center;
		  }
		  .split-pane > div .text-content {
			line-height: 1.6em;
			margin-bottom: 1em;
		  }
		  .split-pane > div .text-content .big {
			font-size: 2.5em;
		  }
		  .split-pane > div img {
			height: 1.3em;
		  }
		  @media (max-width: 500px) {
			.split-pane > div img {
			  display:none;
			}
		  }
		  .split-pane button, .split-pane a.button {
			font-family: 'Open Sans', sans-serif;
			  font-weight:800;
			background: black;
			
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			width: 17em;
			padding: 0.7em;
			font-size: 0.8em;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			-webkit-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
			text-decoration: none;
			color: white;
			display: inline-block;
			  cursor: pointer;
		  }
		  .split-pane button:hover, .split-pane a.button:hover {
			text-decoration: none;
			background-color: white;
			border-color: white;
			  cursor: pointer;
		  }
		  .uiux-side.split-pane button:hover, .split-pane a.button:hover {
			color: violet;
		  }
		  .frontend-side.split-pane button:hover, .split-pane a.button:hover {
			color: blue;
		  }
		  
		  #split-pane-or {
			font-size: 2em;
			color: white;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			width: 100%;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		  }
		  @media (max-width: 925px) {
			#split-pane-or {
			  top:15%;
			}
		  }
		  #split-pane-or > div img {
			height: 2.5em;
		  }
		  @media (max-width: 500px) {
			#split-pane-or {
			  position: absolute;
			  top: 50px;
			}
			#split-pane-or > div img {
			  height:2em;
			}
		  }
		  @media(min-width: 500px) {
			#split-pane-or {
			  font-size: 3em;
			}
		  }
		  .big {
			font-size: 6em;
		  }
		  
		  #slogan {
			position: absolute;
			width: 100%;
			z-index: 100;
			text-align: center;
			vertical-align: baseline;
			top: 0.5em;
			color: white;
			font-family: 'Open Sans', sans-serif;
			font-size: 1.4em;
		  }
		  @media(min-width: 500px) {
			#slogan {
			  top: 5%;
			  font-size: 7em;
			}
		  }
		  #slogan img {
			height: 0.7em;
		  }
		  .bold {
			 
		  }
		  .big {
			  font-weight:800;
		  }
		  .block-left{
			width:50%;
			height:50vh;
			background-color:#BE3144;
			float:left;
		
		  }
		  .block-right{
			width:50%;
			height:50vh;
			background-color:#9896F1;
			float:left;
			margin-bottom: 20px;
		  }
		  .break
		  {
			  color: #fff;
		  }




		  .h1-title {
			  font-size: 30px;
			text-align: center;
			padding-bottom: 20px;
			color: rgb(5, 5, 5);
		}
		.slides {
			width: 609px;
			margin: 0 auto;
			position: relative;
			display: block;
		}
		.slides input { 
			display: none; 
		}
		
		.slide-container { 
			display: block;
		}
		
		.slide {
			top: 0;
			opacity: 0;
			display: block;
			position: absolute;
			transform: scale(0);
			transition: all .7s ease-in-out;
		}
		
		.slide img {
			width: 100%;
			height: 100%;
			display: block;
		}
		
		.nav label {
			display: none;
			position: absolute;
			cursor: pointer;
			color: rgba(0,0,0,0.5);
			text-align: center;
			margin-top: 29%;
		}
		
		.nav label:hover { 
			color: #000;
		}
		
		.nav .next { 
			right: 5px; 
		}
		
		.nav .prev {
			left: 5px;
		} 
		
		input:checked + .slide-container  .slide {
			opacity: 1;
			transform: scale(1);
			transition: opacity 1s ease-in-out;
		}
		
		input:checked + .slide-container .nav label { 
			display: block; 
		}
		
		.nav-dots {
			width: 100%;
			height: 11px;
			display: block;
			position: absolute;
			text-align: center;
			margin-top: 63%;
		}
		
		.nav-dots .nav-dot {
			width: 11px;
			height: 11px;
			margin: 0 4px;
			position: relative;
			border-radius: 100%;
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.6);
		}
		
		.nav-dots .nav-dot:hover {
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.8);
		}
		
		input#img-1:checked ~ .nav-dots label#img-dot-1,
		input#img-2:checked ~ .nav-dots label#img-dot-2,
		input#img-3:checked ~ .nav-dots label#img-dot-3,
		input#img-4:checked ~ .nav-dots label#img-dot-4,
		input#img-5:checked ~ .nav-dots label#img-dot-5,
		input#img-6:checked ~ .nav-dots label#img-dot-6 {
			background: rgba(0, 0, 0, 0.8);
		}
		@media screen and (max-width: 609px) {
		  .slides {
			width: 100%;
		  }
		}
	
		.mail2
		{
			display: ;
			text-align: center;
			align-items: center;
			margin: 50px;
		}
		.h1-title
{
	text-decoration: underline;
}


#wrapper{
	padding-top: 10px;
    width: 250px;
    height: 50px;
    margin:auto;
    position:relative;
    -webkit-animation: smooth-entry-title 1.2s;
    -moz-animation: smooth-entry-title 1.2s;
    animation: smooth-entry-title 1.2s;
}

#wrapper:after {
  
  border-radius: 50%;
  bottom: -35px;
  content: "";
  height: 20px;
  left: 8px;
  opacity: 0.05;
  position: absolute;
  width: 165px;
}

.btn {
    display: inline-block;
    border-radius: 0.25em;
    padding: 1.2em 2em;
    font-weight: bold;
    font-size: 0.8125rem;
   
    animation: 1.2s ease 0s normal none 1 running smooth-entry-btn;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
}

.btn.red {
	
	background: linear-gradient(to right, #1488cc, #2b32b2);
	box-shadow: 0 2px 25px rgba(20, 137, 204, 0.5);
	border-radius: 9px;
	color: rgb(255, 255, 255);
}




@-webkit-keyframes smooth-entry-btn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0.6em);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateY(0.6em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes smooth-entry-btn {
  0% {
    opacity: 0;
    -moz-transform: translateY(0.6em);
  }
  70% {
    opacity: 0;
    -moz-transform: translateY(0.6em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes smooth-entry-btn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0.6em);
    -moz-transform: translateY(0.6em);
    -ms-transform: translateY(0.6em);
    -o-transform: translateY(0.6em);
    transform: translateY(0.6em);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateY(0.6em);
    -moz-transform: translateY(0.6em);
    -ms-transform: translateY(0.6em);
    -o-transform: translateY(0.6em);
    transform: translateY(0.6em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}


@keyframes smooth-entry-title {
  0% {
      opacity: 0;
      transform: translateY(-0.6em);
  }
  50% {
      opacity: 0;
      transform: translateY(-0.6em);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}


.health
{
	color: white;
}



footer {
	background: rgb(42, 154, 168);
	background: -webkit-linear-gradient(59deg, rgb(16, 187, 187), #16222A);
	background: linear-gradient(59deg, rgb(0, 0, 0), rgb(0, 0, 0));
	color: rgb(240, 35, 188);
	margin-top:100px;
	padding:0px;
  }
  
  footer a {
	color: rgb(240, 35, 188);;
	font-size: 14px;
	transition-duration: 0.2s;
	 margin-bottom:5px;
  }
  
  footer a:hover {
	color: #FA944B;
	text-decoration: none;
  }
  
  .copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
	
  }
  
  .footer-middle {
	padding-top: 2em;
	color: white;
	margin-bottom:5px;
  }
  
  
  
  
  ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	margin-bottom: 5px;
  }
  
  ul.social-network li {
	  margin-bottom: 5px;
	display: inline;
	margin: 0 5px;
  }
  
  
  
  
  .social-network a.icoFacebook:hover {
	background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
	background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
	color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
	color: #44BCDD;
  }
  
  .social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
  }
  
  .social-circle li i {
	margin: 0;
	line-height: 30px;
	text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
  }
  
  .social-circle i {
	color: #000000;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
  }
  
  .social-network a {
	background-color: #F9F9F9;
  }

 
.final
{
	height: 500px;
	background-color: rgb(43, 226, 202);
}
.hmm
{
	color: white;
}

.col-text {	

	background-color: rgb(5, 5, 5);
	height:20em;
  }
  .grid-flex {
	margin: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	flex-direction: row; 
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
  }
  .col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
  }
  .col-left {
	-webkit-box-ordinal-group:-1;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
  }
  .col-text{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .Aligner-item {
	width: 60%;
  }
  .col-image {
	margin: 5px;
	background-size: cover;
	background-position:center center;
  }
  
  @media (max-width: 640px) {
	.grid-flex {
	  height: 40em;
	  display: -webkit-flex;
	  -webkit-flex-direction: column;
	  flex-direction: column; 
	 }
	.col {
	  order:vertical;
	}
	.col-left {
	  -webkit-box-ordinal-group:0;
	  -webkit-order: 0;
	  -ms-flex-order: 0;
	  order: 0;
	}
	.col-text div p {
	  padding: 1em;
	}
	.Aligner-item {
	  width: 90%;
	}
  }
  
  
  