*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  background: #000;
  word-spacing: 2rem;
}

head
{
    -webkit-mask-image: ;
}
.loader
{    

 position: absolute;
 width: 150px;
 height: 150px;
 border-radius: 50%; 
 background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);  
 animation: animate 2s linear infinite;
}

@keyframes animate
{
    0% {
        transform:rotate(0deg);
       filter: hue-rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.loader:before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.loader:after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403); 
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}

head
{
    mask-image: url(pan.png);
}

footer 
{
position: absolute;
align-items: center;
text-align: center;
 bottom: 40px;
  width: 100%;
  font-size: 70px;
 
}

h2
{
    -webkit-text-stroke: 0.5px black;
    color: white;
}


h2 span 
{
    animation: animated 1.5s linear infinite;
    
}

h2 span:nth-child(1)
{
    animation-delay: 0s;
    
}
h2 span:nth-child(2)
{
    animation-delay: 0.2s;
}
h2 span:nth-child(3)
{
    animation-delay: 0.4s;
}
h2 span:nth-child(4)
{
    animation-delay: 0.6s;
}
h2 span:nth-child(5)
{
    animation-delay: 0.8s;
}
h2 span:nth-child(6)
{
    animation-delay: 1s;
}






@keyframes animated
{
    0%, 80%
    {
      color: rgb(8, 8, 8);
      text-shadow: none;
    }
    100%
    {
        color: rgb(0, 0, 0);
        text-shadow: 0 0 10px rgb(200, 43, 214);     
}
