@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 600";

.example::-webkit-scrollbar {
	display: none;
  }
 

*{
  font-size: 18px;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
body
	{
		font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
		overflow-y: scroll;
    overflow-x: hidden;
	background: #1a1b1e;
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;

}
ul {
   background:black;
   margin-top: 50px;
  margin-right: 20px;
  padding-bottom: 0px;
  list-style: none;
}

.pixel
{
	margin-left: 10px;
	margin-bottom: 10px;
}
h2,
h3,




.logo {
  
	margin: 5px;
	font-size: 1.45em;
}

.main-nav {
    background:black;
	margin-top: 5px;
 animation: border-flicker  infinite;
}
.logo a,
.main-nav a {
	font-family: Verdana, Geneva, sans-serif;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    
}

.main-nav a {
  margin-bottom:5px 8px;
  margin:8px;
	color: #34495e;
	font-size: .99em;
   border-radius: 8px;
  border: 1px solid rgb(10, 173, 223);
   box-shadow: 0 0 2px cyan;
  cursor: pointer;
   animation: border-flicker text-flicker infinite;
}
div{
  animation:  border-flicker text-flicker  5s linear infinite;
}

main-nav a {
  font-family: "Open Sans";
  font-weight: 300;
  font-size:2.9em;
  margin: 15px 0 0;
  color: rgba(120, 0, 50, .5);
  animation:  border-flicker infinite;
}

 a {
  animation: text-flicker 2s linear infinite;
}

 .first {
  animation: border-flicker 3s linear infinite;
}

@keyframes text-flicker {
  2% { 
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  3% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  6% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  9% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  11% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  14% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  18% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  32% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  33% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  37% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  39% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  43% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  46% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  47% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  100% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
}

@keyframes letter-flicker {
    2% { 
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  3% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  6% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  9% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  11% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  14% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  18% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  32% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  33% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  37% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  39% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  40% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  100% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
}

@keyframes border-flicker {
  2% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
  3% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  5% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
  6% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  7% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
  9% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  13% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
  16% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  18% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
  22% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  34% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
  36% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  54% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
  100% {
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
  }
}



.header {
  
	padding-top: .5em;
	padding-bottom: .5em;
	
	background:black;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 10px;
		max-width: 100px;
	}
	}

}
@media (min-width: 480px)
{
	.main-nav
	{
		
	}
}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: black; 
}

h2 {
	
	
   display: flex;
   justify-content: center;
	align-items: center;
	font-weight: 500;
	color: black;
  }

  p{

	padding: 20px;
	display: flex;
   justify-content: center;
	align-items: center;
	font-weight: 500;
	color: blue;
  }




h3:hover
{
	color: rgb(43, 226, 202);
}
  


.ribbon {
	font-size: 22px !important;
   box-shadow: 5px black;
   font-weight: 500;
	width: 200px;
	
	position: relative;
	background:  rgb(197, 197, 197);
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 1em 2em; 
	margin: 2em auto 3em;
   }
   .ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid  rgb(48, 47, 47);
	z-index: -1;
   }
   .ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
   }
   .ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
   }
   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #292628 transparent transparent transparent;
	bottom: -1em;
   }
   .ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
   }
   .ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
   }


body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	
  }
  
  .card {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	background-color: #000000;
	border: 0px;
	transition: all 0.3s ease-in-out;
  }
  
  .card .card-img {
	height: auto;
	width: 100%;
	background-color: #4426a8;
	position: relative;
	background-size: cover;
	background-position: center top;
  }
  
  .card:hover {
	transform: scale(1.01);
	transition: all 0.5s ease-in-out;
  }
  
  .card .card-content span {
	margin-bottom: 0.5rem;
	position: relative;
	display: block;
  }
  
  .card svg {
	position: absolute;
	top: 0;
  }
  
  .card .card-content {
	width: 100%;
	overflow-x: hidden;
	padding: 10px 20px 30px 20px;
	position: relative;
	overflow-y: hidden;
  }
  
  .card .card-content .bttn {
	display: inline-block;
	padding: 7px 8px;
	text-align: center;
	border-radius: 3px;
	background-color: #bebebe;
	text-decoration: none;
	color: #fff;
	transition: 300ms all;
  }
  html, body, section {
	height: 100%;
  }
  
  

  h1 {
	font-size: 1.75rem;
	margin: 0 0 0.75rem 0;
  }
  
  .card-content
  {
	  background-color: rgb(230, 228, 228);
  }
  .container2 {
	display: flex;
  }
  
  .left-half {
	  height: 700px;
	color: #fff;
	background-color:black;
	flex: 1;
	padding: 1rem;
  }
  
  .right-half {
	height: 700px;
	background-color:white;
	flex: 1;
	padding: 1rem;
  }
  .ldBar {
	position: relative;
  }
  .ldBar.label-center > .ldBar-label {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-shadow: 0 0 3px #fff;
  }
  .ldBar-label:after {
	content: "%";
	display: inline;
  }
  .ldBar.no-percent .ldBar-label:after {
	content: "";
  }
  


  
  #success-message {
	opacity: 0;
  }
  
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
	padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
	margin-top: 25px;
  }
  
  .form-title {
	  background: none;
	padding: 25px;
	font-size: 30px;
	font-weight: 300;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-group .form-control {
	-webkit-box-shadow: none;
	border-bottom: 1px;
	border-style: none none solid none;
	border-radius:0; 
	border-color: #000;
  }
  
  .form-group .form-control:focus {
	  box-shadow: none;
	border-width: 0 0 2px 0;
	border-color: #000;
	
  }
  
  textarea {
	resize: none;
  }
  
  .btn-mod.btn-large {
	  height: auto;
	  padding: 13px 52px;
	  font-size: 15px;
  }
  
  .btn-mod.btn-border {
	  color: #000000;
	  border: 1px solid #000000;
	  background: transparent;
  }
  
  .btn-mod, a.btn-mod {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  padding: 4px 13px;
	  color: #fff;
	  background: rgba(34,34,34, .9);
	  border: 1px solid transparent;
	  font-size: 11px;
	  font-weight: 400;
	  text-transform: uppercase;
	  text-decoration: none;
	  letter-spacing: 2px;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
	  color: #fff;
	  border-color: #000;
	  background: #000;
	  outline: none;
  }
  
  @media only screen and (max-width: 500px) {
	  .btn-mod.btn-large {
		 padding: 6px 16px;
		 font-size: 11px;
	  }
	
	  .form-title {
		  font-size: 20px;
	}
  }
  


	
	  
  .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background: #000000;
    top: 0;
    left: 0;
}

.loader {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    transform: translateY(-43%);
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
.box {
    width: 100%;
    height: 100%;
    background: rgb(0, 255, 242);
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
.shadow { 
    width: 100%;
    height: 5px;
    background: rgb(0, 0, 0);
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
    }


@keyframes loader {
    0% {
        left: -100px
    }
    100% {
        left: 110%;
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    50% {
        transform: scale(1.2,1);
    }
}


header {
	
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
.container p{

	color: rgb(102, 101, 101);
	font-size: 30px;
	text-decoration: overline underline;
}

  header video {
	      

	  letter-spacing: 0.5px;
	  background: #111;
	  color: #fff;
	  box-shadow: .3em 0 0 #111, -.3em 0 0 #111;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url('https://youtu.be/-rchCEtFSOQ') black no-repeat center center scroll;
	}
	header video {
	  display:;
	}
  }

.mail
{
	border-radius: 4px;
	color: rgb(255, 255, 255);
	margin-bottom: 30px;
	background-color: rgb(0, 0, 0);
	padding: 10px;
}
.mail:hover
{
	color: rgb(255, 0, 212);
	background-color: rgb(252, 252, 252);

}
footer {
	background: rgb(42, 154, 168);
	background: -webkit-linear-gradient(59deg, rgb(16, 187, 187), #16222A);
	background: linear-gradient(59deg, rgb(0, 0, 0), rgb(0, 0, 0));
	color: white;
	margin-top:100px;
	padding:0px;
  }
  
  footer a {
	color: #fff;
	font-size: 14px;
	transition-duration: 0.2s;
	 margin-bottom:5px;
  }
  
  footer a:hover {
	color: #FA944B;
	text-decoration: none;
  }
  
  .copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
	
  }
  
  .footer-middle {
	padding-top: 2em;
	color: white;
	margin-bottom:5px;
  }
  
  
  
  
  ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	margin-bottom: 5px;
  }
  
  ul.social-network li {
	  margin-bottom: 5px;
	display: inline;
	margin: 0 5px;
  }
  
  
  
  
  .social-network a.icoFacebook:hover {
	background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
	background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
	color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
	color: #44BCDD;
  }
  
  .social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
  }
  
  .social-circle li i {
	margin: 0;
	line-height: 30px;
	text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
  }
  
  .social-circle i {
	color: #000000;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
  }
  
  .social-network a {
	background-color: #F9F9F9;
  }
  
 .card-img-top
  {
	  height: 200px;
	  width: 200;
	padding-top:10px;
	margin:5px;
	display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .card-title
{
  font-size: 16px;
  display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 7	00;

}
#card-deck
{
	background: black;
    border-radius: 50px;
	margin-left: 160px;
}

.wew
{
	color: #000;
	background: -webkit-linear-gradient(transparent, transparent), url('http://studioleopard.pl/wp-content/uploads/2016/04/wyklikaj_strone.jpg');
	background: -o-linear-gradient(transparent, transparent);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 40px;
	text-align: center;
}

.h1
{
	font-size: 24px;
	padding: 20px;
	display: flex;
   justify-content: center;
	align-items: center;
	font-weight: 900;
	color: rgb(0, 0, 0);
}


  .container5{
	  background-color: black;
	font-family: 'Archivo', sans-serif;
	box-shadow: 5px 10px solid #0000;
	user-select: none;
	margin:10px auto;
	background-image: url("card design1.jpg");
	color: #000000;
	
	border-radius: 8px;
	width: 350px;
	text-align: center;
	box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
  }
  .cover-photo{

	height: 180px;
	width: 100%;
	border-radius: 5px 5px 0 0;
  }
.profile-name
{
	margin-top: 20px;
}

 .display-5
 {
	font-family: 'Archivo', sans-serif;
	 text-decoration: underline;
	color: #000;
	background: -webkit-linear-gradient(transparent, transparent), url('http://studioleopard.pl/wp-content/uploads/2016/04/wyklikaj_strone.jpg');
	background: -o-linear-gradient(transparent, transparent);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 35px;
	text-align: center;
 }

 
  .profile-name{
	 color: white;
	font-size: 20px;
	font-weight: bold;
	margin-left: 210px;
	
  }
  .about{

	margin-right: 17px;
  font-size: 15px;
	color: rgb(223, 187, 71);
	margin-bottom: 53px;
	line-height: 21px;
  }
  button{
	margin: 10px 0 40px 0;
  }
  .msg-btn, .follow-btn{
	background: #03bfbc;
	border: 1px solid #03bfbc;
	padding: 10px 25px;
	color: #231e39;
	border-radius: 3px;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
  }
  .follow-btn{
	margin-left: 10px;
	background: transparent;
	color: #02899c;
  }
  .follow-btn:hover{
	color: #231e39;
	background: #03bfbc;
	transition: .5s;
  }



  h1{ text-align: center; }
 {
	background: rgba(255,0,0,.25);
	border: 0.5px solid red;
	padding: 2em;
 }

 #loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #00ff9d;
	
	  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	z-index:1001;	  
}

    #loader:before {
		content:"";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #00eeff;
		
		  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	    #loader:after {
		content:"";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #05b8ff;
		
	   -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
               animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
	
	    @-webkit-keyframes spin { 
           0%   { 
           -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(0deg);  /* IE 9 */
           transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
		    }

            100% { 
           -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(360deg);  /* IE 9 */
           transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */

	       }
        }

        @keyframes spin {
           0%   { 
           -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(0deg);  /* IE 9 */
           transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */

		   }

           100% { 
           -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+  */
           -ms-transform: rotate(360deg);  /* IE 9 */
           transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */

		   }
		}
	
	    #loader-wrapper .loader-section {
		    position:fixed;
			top: 0;
			width: 51%;
			height: 100%;
			background: black;
			z-index: 1000;
			
		}
		
		#loader-wrapper .loader-section.section-left {
			left:0;
		}
		
		#loader-wrapper .loader-section.section-right {
			right:0;
		}
		
		/* Loaded Styles */
		.loaded #loader-wrapper .loader-section.section-left {
           -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+  */
               -ms-transform: translateX(-100%);  /* IE 9 */
                   transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */			   
		}
		
		.loaded #loader-wrapper .loader-section.section-right {
           -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+  */
               -ms-transform: translateX(100%);  /* IE 9 */
                   transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */	

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045,0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */			   
		}		
		.loaded #loader {
			opacity: 0;
			
            -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */			
		}
		.loaded #loader-wrapper {
			visibility: hidden;
           -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+  */
               -ms-transform: translateY(-100%);  /* IE 9 */
                   transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */			
			
            -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */				
		}
