*
{
    
    font-size: 16px;
    padding: 30;
    margin: 10;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;    text-shadow: rgb(228, 140, 33);
}

body 
{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  color: rgb(255, 22, 6);
  text-shadow: 1px 1px 2px black, 0 0 15px rgba(12, 194, 185, 0.541), 0 0 5px rgba(7, 7, 219, 0.918);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  
  
}

.box
{
  box-shadow: 5px 10px;
  filter: hue-rotate(80deg);
    box-shadow: 4px 4px 4px  rgb(54, 162, 177);
    border-top-color: rgb(255, 255, 255);
    color: rgb(56, 201, 206);
    padding-left: 75px;
    padding-right: 65px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: fit-content;
    height: fit-content;
    background: #000000;
    animation: animate 2s linear infinite;
  }



.button 
{  
    color: turquoise;
    background:black
}

.addbtn
{
stroke: 0%;
  
    background: none;
   
    color: rgb(78, 140, 145);
    transition: 0.5s;
    letter-spacing: 4px;
}
.addbtn:hover
{
    filter: blur(20%);
    animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
    background-color: rgb(22, 230, 202);
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4,
}

@keyframes animate
{
    0% {
        transform:rotate(0deg);
       filter: hue-rotate(0deg);
    }
    100% {
        transform:rotate(0deg);
        filter: hue-rotate(360deg);
    }
  
 